@media only screen and (max-width: 500px) {
  // $images: ('../images/bg/pattern1.png', '../images/bg/pattern2.png',  '../images/bg/pattern3.png', '../images/bg/pattern4.png');
  @keyframes bg {
      0%   {background: url('../images/bg/pattern1.png') top center no-repeat;}
      33%  {background: url('../images/bg/pattern2.png') top center no-repeat;}
      66%  {background: url('../images/bg/pattern3.png') top center no-repeat;}
      100%  {background: url('../images/bg/pattern4.png') top center no-repeat;}
  }

  html, body {
      background-color: #fff;
      font-family: 'Raleway', sans-serif;
      font-weight: 100;
      height: 100%;
      min-height: 100vh;
      margin: 0;
      font-size: 20pt;
  }
  a:link, a:active, a:visited {
    color: black;
  }

  a:hover {
    text-decoration: none;
  }

  .form-horizontal {
    margin: 0.5em 0;
    padding: 0.5em 0;
  }

  .pagination {
      display: inline;
      list-style-type: none;
      li {
        float: left;
        margin: 0 2em;
      }
      a {
      border: 1px solid #ddd; /* Gray */
  }
  }

  .bar {
    display: flex;
    padding: -1em !important;
    // margin: 0 0 -1em 0;
    align-items: center;
    width: 100%;
    background: #eee;
    position:relative;
    top:0;
    > * {
      // margin: 0 1em;
    }
  }

  .menu {
    width: 100%;
    // margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    li {
      // margin: auto;
      padding: 1em 0;
      display: inline-block;
      align-items: center;
      text-align: center;
      list-style-type: none;
      width: 33%;
    }
  }

  #banner {
    width: 100%;
    background: grey;
    animation: bg 10s ease infinite alternate;
    padding: 2em 0;
    margin: 2em 0;
    display: flex;
    align-items: center;
    .container {
      align-items: center;
      text-align: center;
      width: 50%;
      margin: auto;
    }
  }

  .display {
    width: 80%;
    margin: auto;
    max-width: 1000px;
    display: -ms-flexbox;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    .plaque {
      width: 80%;
      margin: auto;
      min-height: 50vh;
    }
  }

  .box {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }

  .col {
      display: flex;
      flex-direction: column;
    width: 25%;
    margin: auto;
    border: 1px solid black;
    min-height: 600px;
    margin-bottom: 1em;
    padding: 0 1em;
    .btn {
      justify-content: center;
      text-align: center;
      margin-top: auto;
      margin-bottom: 1em;
      background: #3498db;
      background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
      background-image: -moz-linear-gradient(top, #3498db, #2980b9);
      background-image: -ms-linear-gradient(top, #3498db, #2980b9);
      background-image: -o-linear-gradient(top, #3498db, #2980b9);
      background-image: linear-gradient(to bottom, #3498db, #2980b9);
      -webkit-border-radius: 28;
      -moz-border-radius: 28;
      border-radius: 28px;
      color: #ffffff;
      font-size: 1em;
      padding: 0.5em 1em;
      text-decoration: none;
      font-weight: bold;
    }
  }

  /* Add a gray background color and some padding to the footer */
  footer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f2f2f2;
    .foot {
      width: 75%;
      margin: auto;
    }
  }

}
